@font-face {
  font-family: "helvetica neue";
  src: url(../fonts/helvetica-neue/helvetica-neue-normal.woff)format("woff"), url(../fonts/helvetica-neue/helvetica-neue-normal.ttf)format("truetype"), url(../fonts/helvetica-neue/helvetica-neue-normal.svg#helvetica-neue-normal)format("svg");
  font-weight: 400;
  font-style: normal
}
