.site-footer,
sub,
sup {
  position: relative
}

.logo-wrapper,
.site-navigation {
  flex-flow: row nowrap;
}

.site-navigation {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-end;
  align-items: flex-end
}

.site-navigation>.pull-left {
  margin-right: auto
}

.navigation-item {
  font-size: .85rem;
  font-weight: 600;
  margin-bottom: .33rem
}

.navigation-item:not(:last-child) {
  padding-right: .25rem;
  border-right: 1px solid #999;
  margin-right: .25rem
}

.inspired-by {
  color: #999
}

.inspired-by .black {
  color: #1e1e1e
}

.inspired-by .boldtext {
  font-weight: 800
}

.fb-login-container {
  position: absolute;
  top: .5rem;
  right: .5rem
}

.main-container,
.site-footer,
.site-header {
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem
}

.main-container {
  border-top: .33rem solid #1e1e1e;
  border-bottom: .33rem solid #1e1e1e;
  padding: 1.931rem 1rem
}

.about-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .25)
}

.drinkname,
.prompt {
  font-size: 5.056rem;
  font-weight: 700
}

.prompt {
  margin-bottom: 1.931rem
}

.drinkname {
  margin-bottom: 2.618rem
}

.give-me-another-i-want-more,
.im-laying-off-the-sauce {
  font-size: 1.931rem;
  font-weight: 700
}

.give-me-another-i-want-more {
  margin-bottom: .738rem
}

.logo-wrapper {
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center
}

.logo-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 4rem;
  margin-top: .5rem;
  margin-left: .5rem
}

.logo-text {
  font-size: 1.194rem;
  font-weight: 700
}

.about-container {
  position: relative;
  width: 40rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  padding: 2rem
}

.about-heading {
  font-size: 2.618rem;
  margin-bottom: 1.194rem
}

.about-close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  transform: rotate(45deg)
}
